body {
    font-family: 'Roboto', sans-serif;
}

/* Debug
************************************************************* */
.debug nav {
  height: 80px;
}

.debug .jumbo {
  height: 400px;
}

.debug .wallet {
  height: 400px;
}

.debug .preimg {
  height: 50%;
}

.debug .preimg_contain {
  height: 100%;
}

.debug .about_contain {
  height: 400px;
}

.debug .footer {
  height: 300px;
}

.debug .footer.b_petrolio {
  height: 150px;
}

.debug .row.provvisorio.lightb_petrolio {
  height: 70%;
}

.debug .row.provvisorio.b_petrolio {
  height: 30%;
}

.debug .footer .container-md.mx-auto.provvisorio,
.debug .footer .container-md.mx-auto.provvisorio .row,
.debug .footer .container-md.mx-auto.provvisorio .row .col {
  height: 100%;
}
/* Utility
************************************************************* */
.icon::after {
  content: "";
  width:100px;
  height:6px;
  background-color:white;
  border-radius:3px;
  display:inline-block;
  margin-left: 2rem;
  position: relative;
  bottom: 0.6rem;
}

.icon::before {
  content: "";
  width:100px;
  height:6px;
  background-color:white;
  border-radius:3px;
  display:inline-block;
  margin-right: 2rem;
  position: relative;
  bottom: 0.6rem;
}

.icon_b::after {
  content: "";
  width:100px;
  height:6px;
  background-color:black;
  border-radius:3px;
  display:inline-block;
  margin-left: 2rem;
  position: relative;
  bottom: 0.6rem;
}

.icon_b::before {
  content: "";
  width:100px;
  height:6px;
  background-color:black;
  border-radius:3px;
  display:inline-block;
  margin-right: 2rem;
  position: relative;
  bottom: 0.6rem;
}

.text_area {
  padding: 0 0;
  border: none;
}

.text_area:focus,
.btn:focus,
.navbar-toggler:focus {
  box-shadow: none;
}

/* colors */
.provvisorio {
  background-color: #ba4b6370;
}
.b_petrolio {
  background-color: #2C3E50;
}

.lightb_petrolio {
  background-color: #3A546D;
}

.v_acqua {
  background-color: #1ABC9C;
}

/* size contain */
.img_contain {
  width: 250px;
}

.contact_contain {
  width: 60%;
}


/* font size */
.fs_7 {
  font-size: 3rem;
}

/* padding size */
.pb_6 {
  padding-bottom: 6rem;
}